option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: treestagram.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: treestagram.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  03_setup_sites:
    command: "source /var/app/venv/*/bin/activate && python manage.py shell -c \"import os; from django.contrib.sites.models import Site; s, _ = Site.objects.get_or_create(id=2); s.domain = os.environ.get('DJANGO_SITE_DOMAIN', 'localhost:5173'); s.name = 'Treestagram Production'; s.save()\""
    leader_only: true
  04_fix_db_permissions:
    command: "chmod 664 /var/app/current/db.sqlite3 && chown webapp:webapp /var/app/current/db.sqlite3"
    ignoreErrors: true

    